BONECO_REFERENCE_PROJECT_DIR=/media/allana/site/tiktok_live
BONECO_ASSETS_DIR=/media/allana/Dados240/Boneco_Modular/assets
BONECO_DEFAULT_AVATAR=BONECO_NOVO
BONECO_RUNTIME_DIR=/media/allana/Dados240/Boneco_Modular/runtime
BONECO_HOST=127.0.0.1
BONECO_PORT=9100
BONECO_STREAM_DISPLAY=:98
BONECO_STREAM_WIDTH=720
BONECO_STREAM_HEIGHT=1280
BONECO_STREAM_FPS=30
BONECO_STREAM_BITRATE=2500
BONECO_STREAM_AUDIO_SOURCE=default
